* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fff;
  min-height: 100vh;
}

.container {
  width: 350px;
  margin: 50px auto;
  background-color: #0b2434;
  padding: 30px 20px;
}

.game {
  background-color: #f5f5f5;
  padding: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla";
}

.game-title {
  font-size: 25px;
  line-height: 30px;
}

.game-instructions {
  font-family: "Inter";
  font-size: 15px;
  line-height: 15px;
  color: #4a4e74;
  text-align: center;
  padding-bottom: 25px;
}

.dice-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  width: 35px;
  height: 35px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dice {
  font-size: 20.5889px;
  line-height: 24px;
  text-align: center;
  color: #2b283a;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
}